<div id="quotes" data-quotes="<%= @quotes.to_json %>" ></div>

<%#= javascript_pack_tag 'react-app/src/index' %>
<%#= javascript_pack_tag 'react-app' %>
<%= javascript_pack_tag 'old-react-app/index' %>
